<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mysite</title>

    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite3.css">

</head>
<body>
    <div id="container">
        <!-- header(로고+링크, 네비게이션) -->
        <header>
            <div id="logo-util-box" >
                <ul>
                    <li ><a href="" class="btn">로그인</a></li>
                    <li ><a href="" class="btn">로그인</a></li>
                </ul>
            </div>
           <!--  <nav>
                <ul>
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </nav> -->
        </header>
        <!-- //header(로고+버튼, 네비게이션) -->
        
        <a href="" class="test">링크</a>
        <a href="" class="test">링크</a>

    </div>

</body>
</html>