@charset "UTF-8";
@import url(./reset.css);
/* clearfix */
.clearfix{zoom:1;}
.clearfix:after {display: block; content: ""; clear: both;}

/* 링크태그 */
a:link      {text-decoration: none; color: #000000; }


a:link      {text-decoration: none; color: #000000; }
a:visited   {text-decoration: none; color: #000000; }
a:active    {text-decoration: none; }
a:hover     {text-decoration: none; color: red; }


/* txt 관련 */
.bold {font-weight: bold;}
.text-center {text-align: center; }
.text-right {text-align: right; }
.text-left {text-align: left; }



/* ------------------------------------------------------------- */

/* 문서 초기화 */
body {
    font-family: "맑은 고딕", 돋움, 굴림; 
    font-size:14px; 
    color: #000000; 
    text-align:center; 
    line-height: 1.2;
    overflow-y:scroll;
}

